# Django .gitignore file

# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
.env
*.env

# Django specific


# Logs and debug
*.log
# Migrations


# IDE specific
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pip-log.txt
pip-delete-this-directory.txt
