{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
Maqolalar
{% endblock title %}


{% block content %}


  <main class="main" style="margin-top: 50px;">



    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">

      <div class="container section-title" data-aos="fade-up">
        <h2>Jurnallar</h2>
        <p>Til va adabiyot ta'limi</p>

     <select id="sort-select" class="form-select w-auto">
      <option value="views">Saralash</option>
      <option value="views">Ko'rishlar soni bo'yicha</option>
      <option value="date">Sana bo'yicha</option>
      <option value="title">Nomi Bo'yicha</option>
    </select>
      </div><!-- End Section Title -->

<div class="container">
   <div class="row gy-5">
     {% for article in articles %}
       <div class="col-xl-3 col-md-6" data-views="100">
         <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">
           <div class="post-img position-relative overflow-hidden">
             {% if article.image %}
             <img src="{{ article.image.url }}" class="img-fluid" alt="no image">
             {% else %}
             <img src="{% static 'img/test1.png' %}" class="img-fluid" alt="">
             {% endif %}
             <span class="post-date">{{ article.created_at | article_date_for }}</span>
           </div>

           <div class="post-content d-flex flex-column">

             <h3 class="post-title">{{ article.title | truncatewords:10 }}</h3>

             <div class="meta d-flex align-items-center">
               <div class="d-flex align-items-center">
                 <i class="bi bi-eye-fill"></i> <span class="ps-2">{{ article.views }}</span>
               </div>
               <span class="px-3 text-black-50">/</span>
               <div class="d-flex align-items-center">
                 <i class="bi bi-calendar-plus"></i> <span class="ps-2">{{ article.created_at | article_date }}</span>
               </div>
             </div>

             <hr>

             <a href="#" class="readmore stretched-link">
               <span>Ko'rish</span><i class="bi bi-arrow-right"></i>
             </a>

           </div>

         </div>
       </div>
     {% empty %}
       <h3>No Article</h3>
     {% endfor %}
   </div>
</div>


    </section><!-- /Recent Posts Section -->

    <!-- Contact Section -->


  </main>


{% endblock content %}