{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Squence page
{% endblock title %}

{% block content %}

    <section id="clients" class="clients section bg-light py-5" style="margin-top: 100px;">

        <!-- Section Title -->
        <div class="container text-center section-title" data-aos="fade-up">
            <h2 class="display-4 text-primary">Hurmatli mualiflar</h2>
            <p class="lead text-secondary">Maqola topshirishga qo‘yilgan talablar</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p class="text-justify">
                            «Tahlil va Talqin » – «» – «» электрон журнали фан номзодлари ва фан докторлари, ёш олимлар,
                            илмий тадқиқот олиб бораётган изланувчилар, мустақил тадқиқотчилар, ўқитувчилар,
                            магистрантлар ва талабалар томонидан таҳририятга юборилган мақолаларни оммалаштириш, эълон
                            қилиш учун қабул қилади. Таҳририятга юборилган барча материаллар журналнинг Таҳрир ҳайъати
                            томонидан экспертизадан ўтказилади. Муҳарририят томонидан маъқулланган мақолалар журналда
                            эълон қилинади.

                            Юборилган ҳар бир мақоланинг ҳажми камида 4 бет, кўпи билан 9–10 бет бўлиши лозим. Барча
                            материалларни ————-электрон почтаси ёки @——————- телеграм каналида кўрсатилган муҳаррирларга
                            юборишингизни cўраймиз.

                            Муаллифлар тақдим этиши зарур бўлган маълумотлар:

                            Фамилияси, исми, отасининг исми (тўлиқ).
                            Илмий даражаси (мавжуд бўлганда).
                            Илмий унвони (мавжуд бўлганда).
                            Иш жойи ва лавозими (таълим муассасаси, ОТМнинг тўлиқ номи, шаҳар ва вилоят кўрсатилган
                            ҳолда).
                            Электрон почтаси (e-mail).
                            Телефон рақами (моб., уй).
                            Мақолани расмийлаштиришга қўйилган талаблар:

                            Матн муҳаррири – Microsoft Word.
                            Формат – А4.
                            Матннинг икки ёни, тепа ва пастидан қолдириладиган ўлчам – 2 см.
                            Шрифт – Times New Roman.
                            Ўзбек тилидаги мақола лотин алифбосида ёзилади.
                            Мақола матни учун шрифтнинг катталиги – 14 пт.
                            Мақола матни учун қаторлар оралиғи – 1,5 интервал.
                            Хат боши (абзац) – 1 см.
                            Жойлашуви – китобий (книжная), сўзларни кейинги сатрга кўчиришсиз,бетлар тагига қўйилган
                            ҳаволаларсиз.
                            Хар хил график ва жадваллар оқ-қора рангда бўлиши талаб қилинади.
                            Муаллифнинг исми, фамилияси, отасининг исми, иш жойи, (ўқиш жойи) ҳақидаги маълумот мақола
                            юқори қисмининг ўнг тарафига кичик ҳарфларда курсив билан ёзилади.
                            Мақоланинг номи – босма ҳарфларда марказдан қўйилади.
                            Аннотация ўзбек, рус, инглиз тилларида (12 шрифт, 1 интервал оралиқда) ёзилиши лозим.
                            Аннотацияда мавзунинг таснифи, ишнинг мақсади ва эришилган натижалар, ишнинг илмий янгилиги
                            билан боғлиқ қисқача маълумотлар берилади. Сўзлар сони кўпи билан 40–50 сўз оралиғида бўлиши
                            мақсадга мувофиқ.
                            Калит сўз ва иборалар – (5–7 тадан кам бўлмаган) уч тилда– ўзбек, рус, инглиз тилларида
                            берилади.
                            Мақола матни – кенглиги бўйича текисланган бўлиши керак.
                            Мақоланинг тузилиши: кириш, асосий қисм ва хулосадан иборат бўлиши шарт.
                            Кириш қисмида танланган мавзунинг долзарблиги, янгилиги, тадқиқот мақсади ва вазифалари
                            келтирилади.

                            Асосий қисмда илмий муаммонинг тадқиқот методлари, эришилган натижалар баён қилинади.

                            Хулоса қисмида эса натижалар умумлаштирилади, якуний хулосалар, тавсия ва таклифлар, кейинги
                            тадқиқ этиладиган йўналишлар келтирилади.

                            Муаллифнинг исми-фамилияси, отасининг исми мақолада ажратилмаган ҳолда ёзилади: А.Н.Фозилов,
                            адабиётлар рўйхатида эса қуйидагича ёзилади: Фозилов А.Н.
                            Матндаги ҳаволалар қуйидаги тартибда шакллантирилади: [1: 195], [3: 20; 7: 68], [4].
                            Фойдаланилган адабиётлар рўйхати 12 ўлчамли шрифтда тартиб билан кўрсатилиши лозим.
                            Фақатгина мақолада фойдаланилган адабиётлар рўйхати келтирилиши керак.
                    </div>

                    <!-- Add more swiper-slide blocks here if needed -->

                </div><!-- End swiper-wrapper -->

                <div class="swiper-pagination"></div>
            </div><!-- End swiper -->

        </div><!-- End container -->

    </section><!-- End Clients Section -->




    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


{% endblock content %}
